@use "./variables";

//------MIXINS 

@mixin font-sizing($font-size, $line-height) {
  @if $font-size >= 22px {
    font-weight: 600;
    letter-spacing: .5px;
  } @else {
    font-weight: 400;
  }
  font-size: $font-size;
  line-height: $line-height;
}

//------RESETS

:root{
  --action-color: #{variables.$action-color};
  --background-color: #{variables.$background-color};
  --background-contrast-color: #{variables.$background-contrast-color};
  --main-text-color: #{variables.$main-text-color};
  --highlight-text-color: #{variables.$highlight-text-color};
  --disabled-color: #{variables.$disabled-color};

  @media (prefers-color-scheme: dark){
    --action-color: #{variables.$action-color};
    --background-color: #{variables.$dm-background-color};
    --background-contrast-color: #{variables.$dm-background-contrast-color};
    --main-text-color: #{variables.$dm-main-text-color};
    --highlight-text-color: #{variables.$dm-main-text-color};
    --disabled-color: #{variables.$disabled-color};
  }
}

*, ::after, ::before, :hover{
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 62.5%;
  font-family: $main-font;
}

h1,h2,h3,h4{
  margin: 0
}

p{
  margin: calc($margin-padding-min / 2) 0;
}

p:first-child{
  margin-top: 0;
}

p:last-child{
  margin-bottom: 0;
}

ul{
  margin: 0;
  padding: 0
}

li{
  list-style-type: none;
}

button {
  border: 1px solid transparent;
}

//------ UTILITY CLASSES

.flex {
  display: flex;
}

.grid {
  display: grid
}

.width100{
  width: 100%
}

.title{
  @include font-sizing($h1-size,$h1-line-height);
  color: var(--highlight-text-color);
}

.subtitle{
  @include font-sizing($h2-size, $h2-line-height);
  color: var(--highlight-text-color);
}

.text{
  @include font-sizing($body-text-size, $body-line-height);
  color: var(--main-text-color);
  &--bio{
    @extend .text;
    @media (min-width: $tablet-breakpoint) {
     padding-left: 150px;
    }
  }
}

.error{
  @include font-sizing($body-text-size, $body-line-height);
  padding-top: calc($margin-padding-min / 2);
  color: red;
}

.disabled {
  opacity: 0.6;
}

.dark-theme{
  --action-color: #{variables.$action-color};
  --background-color: #{variables.$dm-background-color};
  --background-contrast-color: #{variables.$dm-background-contrast-color};
  --main-text-color: #{variables.$dm-main-text-color};
  --highlight-text-color: #{variables.$dm-main-text-color};
  --disabled-color: #{variables.$disabled-color};

  .switcher__button{
    &:hover{
      opacity: 0.3;
      color: $dm-main-text-color;
      .switcher__image{
        filter: none;
      }
    }
  }
  .button{
    //avoid opacity changes
    &:hover{
      opacity: 1;
      background-color: #b0d5fe;
    }
  }
}