.switcher__button{
  min-width: 80px;
  padding: 0;
  justify-content: space-evenly;
  background-color: var(--background-color);
  letter-spacing: 1px;
  &:hover{
    cursor: pointer;
    color: $highlight-text-color;
    .switcher__image{
      filter: saturate(100%) brightness(0);
    }
  }
}

.switcher__image{
  height: 50%;
}

.searchbar__input {
  @include font-sizing($body-text-size, $body-line-height);
  flex-grow: 0.5;
  border: 1px solid transparent;
  background-color: var(--background-contrast-color);
  font-family: $main-font;
  color: var(--main-text-color);
  &:focus-visible{
    outline: none;
  }
  &::placeholder{
    @include font-sizing($body-text-size, $body-line-height);
    font-family: $main-font;
  }
}

.searchbar__magnifier {
  flex-basis: 32px;
  object-fit: contain; 
}

.button{
  @include font-sizing($body-text-size, $body-line-height);
  padding: calc($margin-padding-min / 2);
  border-radius: $border-radius; 
  background-color: $action-color;
  color: $background-contrast-color;
  &:hover{
    cursor: pointer;
    opacity: 0.3;
  }
}

.profile__image{
  min-width: 70px;
  max-width: 100%;
  border-radius: 50%;
}

.profile__anchor{
  @include font-sizing($h3-size, $h3-line-height);
  text-decoration: none;
  color: $action-color
}

.profile-inner__wrapper{
  padding-left: $margin-padding-min;
}

.stats__wrapper{
  margin: $margin-padding-min 0;
  padding: calc($margin-padding-min /2) 0;
  border-radius:$border-radius;
  justify-content: space-evenly;
  text-align: center;
  background-color: var(--background-color);
  @media (min-width: 649px){
    grid-column-start: 2;
  }
}

.stats__wrapper .text{
  margin: 0;
}

.user-info__wrapper{
  padding: $margin-padding-min 0;
  @media (min-width: $tablet-breakpoint){
    grid-column-start: 2;
  }
}

.user-info__list-item{
  margin-bottom: calc($margin-padding-min / 2);
}

.user-info__image{
  margin-right: 10px; 
}

.user-info__wrapper .text{
  margin: 0
}


