//--- Colors
$action-color: #0079ff;
$background-color: #f6f8ff;
$background-contrast-color: #fefefe;
$main-text-color: #607c9a;
$highlight-text-color: #2b3442;
$disabled-color: #4b6a9b;


$dm-background-color: #1a1d2f;
$dm-background-contrast-color: #1e2a47;
$dm-main-text-color: #ffffff;

//--- Fonts
@font-face {
  font-family: "Space Mono";
  src: url("../assets/SpaceMono-Regular.ttf") format("truetype");
}

$main-font: "Space Mono", "Roboto", monospace;
$h1-size: 26px;
$h1-line-height: 38px;
$h2-size: 22px;
$h2-line-height: 33px;
$h3-size: 16px;
$h3-line-height: 24px;
$h4-size: 13px;
$h4-line-height: 20px;
$body-text-size: 15px;
$body-line-height: 25px;

//---Size and spacing
$margin-padding-min: 1.5rem;
$margin-padding-medium: 3rem;
$margin-padding-max: 6rem;
$border-radius: 10px;
$box-shadow: 0px 16px 30px -10px rgba(75, 106, 155, 0.2);

//screen sizing
$tablet-breakpoint: 649px;
$desktop-breakpoint: 966px;
$max-width-element-desktop: 750px;